<div class="content overlay">
  <p>Donation Results</p>
  <p>{{name}}</p>
  <p>{{messages}}</p>
  <p>{{amounts}}</p>

  <!-- <ul class="content--options">
    {{#each donation}}
    {{{link this}}}
    {{/each}}
  </ul> -->
</div>
