<div class="content overlay">
  <h3>Donation Results</h3>

<ul>
  {{#each name}}
  <li>{{this}}</li>
  {{/each}}
</ul>

<ul>
  {{#each messages}}
  <li>{{this}}</li>
  {{/each}}
</ul>

<ul>
  {{#each amounts}}
  <li>£{{this}}</li>
  {{/each}}
</ul>

</div>
