<div class="data">
  <h3 class="data__title">Donation Results</h3>

  <ul class="data__entity data__entity--name">
    {{#each name}}
    <li>{{this}}</li>
    {{/each}}
  </ul>

  <ul class="data__entity data__entity--message">
    {{#each messages}}
    <li>{{this}}</li>
    {{/each}}
  </ul>

  <ul class="data__entity data__entity--amount">
    {{#each amounts}}
    <li>£{{this}}</li>
    {{/each}}
  </ul>

</div>
