<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Oxfam Donations | JustGiving</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link href="main.css" rel="stylesheet"/>
</head>
<body>
  <section class="info-panel">
    <h1 class="info-panel__title">Oxfam</h1>
    <h2 class="info-panel__summary">We work with others to overcome poverty and suffering.</h2>
  </section>
  <div id="app">
    {{{content}}}
  </div>
</body>
</html>
